* {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

img {
  display: block;
}

h2,
h3,
h4 {
  font-size: 24px;
  color: brown;
}

h1,
h2,
h3,
h4 {
  color: brown;
}

p,
ul,
ol,
a {
  color: white;
}

a {
  margin-right: 20px;
}

ul li {
  margin-bottom: 5px;
}

ol li {
  margin-bottom: 20px;
}

ul,
ol {
  padding-left: 0;
}
